[Desktop Entry]
Type=Application
Version=2.5
Encoding=UTF-8
Name=Bug Bounty!
Comment=Fix all the bugs.
Icon=${SNAP}/meta/gui/bug-bounty.png
Exec=bug-bounty
Terminal=false
Startup-Notify=false
Categories=Game;